# Python
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# PyML specific
pyml_temp.py

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/launch.json
.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log